<%- include('header') -%>
<div class="a-propos"></div>
    <main class="container">
        <session class="about_container">
            <h1>À propos de nous</h1>
            <p>Le club de lecture “Brasil em Livros” est née en octobre 2022, à Paris.</p>
            <p>Ses participants ont diverses nationalités et partagent une même passion: l’apprentissage de la langue portugaise à travers de la découverte de la littérature brésilienne.</p>
            <p>Nos rencontres ont lieu à Paris et sont  faites exclusivement en portugais, avec la participation d’un facilitateur brésilien. Nous parlons non seulement des livres mais aussi de la culture, de la société et des curiosités à propos du Brésil!</p>
        </session>
</main>
<%- include('footer') -%>