<%- include('header') -%>
<div class="contact"></div>
<main class="container contact_page">
    <article class="form_contact">
        <h1>Contactez-nous</h1>
        <form  method="post">
            <fieldset>
                <legend>Formulaire de contact</legend>
                <label for="firstname">Prénom</label>
                <input type="text" name="firstname" minlength="4" required id="firstname" placeholder="Prénom">
                <label for="lastname">Nom</label>
                <input type="text" name="lastname" minlength="4" required id="lastname" placeholder="Nom">
                <label for="E-mail">E-mail</label>
                <input type="email" name="email"required id="email" placeholder="E-mail">
                <label for="message">Message</label>
                <textarea name="message" id="" cols="30" rows="10"></textarea>  
                <button type="submit">Envoyer un message</button>
                <% if(locals.message) { %>
                    <p class="message"><%= message %></p>
                <% } %>
            </fieldset>
        </form>
    </article>
</main>

<%- include('footer') -%>