    </main>
    <footer class="foot">
        <a href="/" class="logo" aria-label="Logo du Club de lecture Brasil em livros">
            <span class="logo__title">Brasil em Livros</span >
            <span class="logo__subtitle">Club de lecture</span>
        </a>
        <div class="medias">
            <p>Suivez-nous sur les réseaux sociaux</p>
            <a href="https://www.facebook.com/profile.php?id=61554290660378&sk=mentions" aria-label="Visitez notre page sur Facebook."target="_blank" class="facebook"><i class="fa-brands fa-facebook" style="color: #540aff;"></i></a>
            <a href="https://www.instagram.com/clubedolivroparis/" class="instagram" aria-label="Visitez notre page sur Instagram"><i class="fa-brands fa-instagram" style="color: #f0f2f4;"></i></a>
            </div>
        </footer>
    </body>
</html>