<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Le club de lecture Brasil em livros rassemble des passionnés de la littérature brésilienne à Paris. Vous apprenez le portugais et vous avez envie de lire, de rencontrer d’autres étudiants et de discuter de vos lectures? Inscrivez-vous au Brasil em livros!"/>
    <title>Brasil em livros</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="favicon.png" />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- fichier css -->
    <link rel="stylesheet" href="<%= base_url %>/css/main.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navlinks-top">
                <a href="/" class="logo" aria-label="visit homepage" aria-current="page">
                    <span class="logo__title">Brasil em Livros</span >
                    <span class="logo__subtitle">Club de lecture</span>
                </a>
                <div class="main-navlinks"> 
                    <a href="#connect" class="nav_login">
                        <i class="fa-regular fa-user" style="color: #e9cd3b;"></i>
                    </a>
                <!-- menu hamburger -->
                    <button class="hamburger" type="button" aria-label="Toggle navigation">
                    <div class="bar"></div>
                    </button>
                </div>

            </div> <!-- fin navlinks-top -->

            <div  class="navlinks-container">
               
                <ul class="navlinks-wrapper">
                    <li><a href="/"class="menu go-home">Accueil</a></li>
                    <li><a href="/about" class="menu">Qui sommes nous</a></li>
                    <li><a href="#"class="menu_scrolling_options" id="menu_click"><i class="fa-solid fa-angle-down"></i> Nos lectures</a>
                        <ul class="menu_backdrop">
                            <li><a href="/readings" class="menu backdrop">Tous les livres</a></li>
                            <li><a href="/readings_classics" class="menu backdrop" id="bd_classic">Les Classiques</a></li>
                            <li><a href="/readings_contemporarys" class="menu backdrop" id="bd_contemporary">Les Contemporaines</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact"class="menu">Contact</a></li>
                    <li><a href="/inscription"class="menu inscriptions">Inscriptions</a></li>
                    <li><a href="/connect"class="menu connect">Connexion</a></li>
                    <li><a href="/deconnect"class="menu disconnect"></i> Déconnexion</a></li>
                    <li><a href="/connect" class="menu nav_login_desktop"><i class="fa-regular fa-user" style="color: #e9cd3b;"></i></a></li>
                </ul> 
                    
            </div> 
        </nav>
    </header>
    <script src="/javascript/header.js"></script>
