<%- include('header') -%>
<main>
    <section class="homepage">
            <h1 class="home">
                <span class="home_title">Brasil em Livros</span >
                <span class="home_subtitle">Club de lecture</span>
            </h1>
            <p>Le plaisir de découvrir la culture brésilienne à travers sa littérature!</p>
            <button type="button"><a href="/about">Bienvenue</a></button>
    </section>
</main>
<%- include('footer') -%>