<%- include('header') -%>
<div class="user"></div>
    <main class="container">
        <article>
            <h1>Mon espace</h1>
            <div class="logout">
                <a href="">Me déconnecter <i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
            <div class="ident">
                <% if (user) { %>
                <p><span class="informations">Utilisateur :</span> <%= user.firstname %></p>
                <p><span class="informations">Inscrit le :</span> <%= new Date(user.registration_date).toLocaleDateString() %></p>
                <% } else { %>
                    <p>Aucun utilisateur trouvé.</p>
                <% } %>
            </div>

            <h2>Ma bibliotèque</h2>
            <label for="book-select" class="book-select">Choississez vos favoris:</label>
            <select name="book-select" id="book-select">
                <option value="nos_lectures">-- Nos lectures --</option>
                <option value="">Affiche tout par la bdd</option>
                <option value="">Affiche tout par la bdd</option>
                <option value="">Affiche tout par la bdd</option>
                <option value="">Affiche tout par la bdd</option>
            </select> 
        </article>
</main>
<%- include('footer') -%>